@font-face {
	src: url("/fonts/Aleo/Aleo-VariableFont_wght.ttf");
	font-family: "Aleo";
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	font-family: "Aleo";
	background: black;
}

#mirage-canvas {
	position: absolute;

	width: 100%;
	height: 100%;

	z-index: -1;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

h1 {
	margin: 0.5em;
	font-size: 2.4rem;
	color: #eee;

	text-shadow: 2px 3px #427;
	box-shadow: 0 0 15px 10px #000a;
	background: #000a;
}

p {
	margin: 0;
	font-size: 1.2rem;
	color: #76e;

	box-shadow: 0 0 15px 10px #000a;
	background: #000a;
}
